﻿
@import url(http://fonts.googleapis.com/css?family=Roboto);
/*!
 * Project_Name: Themezy Hosting Theme
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

html {
    background: white;
    color: black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
   font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    /*font-family: aktiv-grotesk-std, sans-serif;*/
}

body {
    margin: 0;
}

a {
    background: transparent;
}

    a:focus {
        outline: thin dotted;
    }

    a:hover, a:active {
        outline: 0;
    }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
   font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

    q:before,
    q:after {
        content: '';
        content: none;
    }

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled],
    input[disabled] {
        cursor: default;
    }

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background-color: #434754;
    line-height: normal;
    /*border: none;*/
    outline: none;
    font-size: 14px;
    font-size: 0.875em;
}

    .button.secondary {
        background-color: #e9eaed;
        color: #7d808c;
    }

.fullwidth-block {
    padding: 50px 0;
    position: relative;
}

@media screen and (max-width: 510px) {
    .col-us {
        width: 100% !important;
        float: none;
    }
}

.breadcrumbs {
    background: #f6f7f9;
    padding: 10px;
    font-size: 14px;
    font-size: 0.875em;
    color: #aeb0b9;
    font-weight: 300;
}

    .breadcrumbs a {
        color: #aeb0b9;
        text-decoration: none;
    }

.slider {
    position: relative;
    background: #f6f7f9;
    margin-bottom: 50px;
}

    .slider .slides {
        list-style: none;
        margin: 0;
        padding: 0;
        *zoom: 1;
    }

        .slider .slides:after {
            content: " ";
            clear: both;
            display: block;
            overflow: hidden;
            height: 0;
        }

        .slider .slides li {
            float: left;
            width: 100%;
            margin-right: -100%;
            padding: 30px 0;
        }

            .slider .slides li img {
                float: right;
            }

    .slider .slide-caption {
        padding: 70px 50px 30px 0;
    }

    .slider .slide-title, .slider .slide-subtitle, .slider .slide-summary, .slider .button {
        -webkit-transition: .3s ease-in;
        transition: .3s ease-in;
        opacity: 0;
    }

    .slider .slide-title {
        color: #152559;
        margin: 0 0 10px;
        font-size: 55px;
        font-size: 3.4375em;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        line-height: 55px;
    }

    .slider .slide-subtitle {
        color: #01a6d4;
        display: block;
        margin: 0 0 50px;
        font-weight: 300;
        font-size: 36px;
        font-size: 2.25em;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
    }

    .slider .slide-summary {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
        transform: translateX(200px);
        -webkit-transition-delay: .6s;
        transition-delay: .6s;
        margin-bottom: 50px;
    }

    .slider .button {
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
        -webkit-transition-delay: .9s;
        transition-delay: .9s;
    }

    .slider .flex-active-slide .slide-title, .slider .flex-active-slide .slide-subtitle {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    .slider .flex-active-slide .slide-summary {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    .slider .flex-active-slide .button {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    .slider .flex-control-nav {
        list-style: none;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }

        .slider .flex-control-nav li {
            display: inline-block;
            margin: 0 2px;
        }

            .slider .flex-control-nav li a {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #cbccce;
                display: block;
                text-indent: -9999px;
                cursor: pointer;
            }

                .slider .flex-control-nav li a.flex-active {
                    background: #01a6d4;
                }

.feature {
    margin-bottom: 30px;
    position: relative;
}

    .feature [class^="icon-"] {
        font-size: 48px;
        float: left;
        margin-right: 20px;
        color: #01a6d4;
        position: relative;
        top: 5px;
    }

    .feature .feature-title {
        color: #152559;
        margin-bottom: 20px;
    }

        .feature .feature-title .title, .feature .feature-title .subtitle {
            display: table;
        }

        .feature .feature-title .title {
            font-size: 24px;
            font-size: 1.5em;
            margin: 0;
        }

        .feature .feature-title .subtitle {
            font-size: 18px;
            font-size: 1.125em;
            font-weight: 100;
            color: #7d808c;
        }

    .feature .feature-summary {
        margin-bottom: 50px;
        padding-right: 20px;
    }

    .feature.top-icon {
        text-align: center;
    }

        .feature.top-icon [class^="icon-"] {
            display: block;
            text-align: center;
            font-size: 48px;
            position: relative;
            float: none;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .feature.top-icon .feature-title {
            color: #01a6d4;
        }

    .feature.has-connector:before {
        content: " ";
        width: 260px;
        height: 67px;
        background: url(images/connector.png) no-repeat;
        position: absolute;
        top: -75px;
        left: 55%;
    }

@media screen and (max-width: 990px) {
    .feature.has-connector:before {
        display: none;
    }
}

.pricing-table {
    border: 2px solid #dedfe2;
    border-radius: 10px;
    margin-bottom: 30px;
}

    .pricing-table .pricing-title {
        background-color: #01a6d4;
        text-align: center;
        padding: 20px 0;
        margin: -2px -2px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white !important;
    }

        .pricing-table .pricing-title .pricing-type {
            margin: 0;
            font-size: 30px;
            font-size: 1.875em;
            font-weight: 700;
            color: white !important;
        }

        .pricing-table .pricing-title small {
            font-size: 1em;
        }

    .pricing-table .price-tag {
        padding: 20px 30px;
    }

        .pricing-table .price-tag strong {
            font-size: 30px;
            font-size: 1.875em;
            color: #152559;
        }

        .pricing-table .price-tag small {
            font-size: 1em;
        }

    .pricing-table .pricing-desc {
        font-size: 14px;
        font-size: 0.875em;
        color: #adafb8;
        padding: 0 30px;
        margin: 0;
    }

    .pricing-table .list-fa {
        padding: 0 30px;
    }

.feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .feature-list li {
        padding: 20px 0 20px 70px;
        border-bottom: 1px solid #adafb8;
        position: relative;
    }

    .feature-list [class^="icon-"] {
        position: absolute;
        font-size: 48px;
        left: 0;
        top: 25px;
        color: #01a6d4;
    }

    .feature-list h3 {
        color: #152559;
        font-size: 17px;
        font-size: 1.0625em;
        margin: 0 0;
    }

    .feature-list p {
        margin: 0;
    }

.boxed-content {
    border-radius: 10px;
    padding: 30px;
}

.team {
    text-align: center;
}

    .team .team-image {
        width: 230px;
        height: 230px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto 10px;
    }

.map {
    border-radius: 10px;
    overflow: hidden;
    height: 350px;
    position: relative;
}

    .map iframe {
        width: 100%;
        height: 350px;
    }

    .map:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

address {
    font-style: normal;
}

form input[type="submit"], form textarea {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #dedfe2;
   font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*font-size: 0.875em;*/
    font-size: 1em;
    font-weight: 300;
    width: 60%;
    outline: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    form input[type="submit"]:hover, form input[type="submit"]:active, form input[type="submit"]:focus, form textarea:hover, form textarea:active, form textarea:focus {
        border-color: #01a6d4;
    }

form textarea {
    display: block;
    min-height: 180px;
    resize: vertical;
}

/*@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot?-cop1gd");
    src: url("fonts/icomoon.eot?#iefix-cop1gd") format("embedded-opentype"), url("fonts/icomoon.woff?-cop1gd") format("woff"), url("fonts/icomoon.ttf?-cop1gd") format("truetype"), url("fonts/icomoon.svg?-cop1gd#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {font-family: "AktivGroteskW01-Medium";
    src: url("//db.onlinewebfonts.com/t/c16b7f3c0832bc60d12dfeae0073d6d6.eot");
    src: url("//db.onlinewebfonts.com/t/c16b7f3c0832bc60d12dfeae0073d6d6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c16b7f3c0832bc60d12dfeae0073d6d6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c16b7f3c0832bc60d12dfeae0073d6d6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c16b7f3c0832bc60d12dfeae0073d6d6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c16b7f3c0832bc60d12dfeae0073d6d6.svg#AktivGroteskW01-Medium") format("svg");
}*/


[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-person-globe:before {
    content: "\e600";
}

.icon-person-time:before {
    content: "\e601";
}

.icon-chess-knight:before {
    content: "\e602";
}

.icon-maze:before {
    content: "\e603";
}

.icon-bulb:before {
    content: "\e604";
}

.icon-handshake:before {
    content: "\e605";
}

.icon-doc-time:before {
    content: "\e606";
}

.icon-mobile-check:before {
    content: "\e607";
}

.icon-person-move:before {
    content: "\e608";
}

.icon-target:before {
    content: "\e609";
}

.icon-bar-chart-up:before {
    content: "\e60a";
}

.icon-bar-chart-down:before {
    content: "\e60b";
}

.icon-person-target:before {
    content: "\e60c";
}

.icon-bulb-structure:before {
    content: "\e60d";
}

.icon-doc-check:before {
    content: "\e60f";
}

.icon-customer-service:before {
    content: "\e610";
}

.icon-barcode:before {
    content: "\e611";
}

.icon-box-search:before {
    content: "\e612";
}

.icon-box-timer:before {
    content: "\e613";
}

.icon-box-verified:before {
    content: "\e614";
}

.icon-recyclable:before {
    content: "\e615";
}

.icon-broken-glass:before {
    content: "\e616";
}

.icon-umberella:before {
    content: "\e617";
}

.icon-map-pin-alt:before {
    content: "\e618";
}

.icon-box-delivery:before {
    content: "\e619";
}

.icon-box:before {
    content: "\e61a";
}

.icon-globe-plane:before {
    content: "\e61b";
}

.icon-send-receive:before {
    content: "\e61c";
}

.icon-vehicle-run:before {
    content: "\e61d";
}

.icon-cart:before {
    content: "\e61e";
}

.icon-globe:before {
    content: "\e61f";
}

.icon-map-pin:before {
    content: "\e620";
}

.icon-server-update:before {
    content: "\e621";
}

.icon-server-search:before {
    content: "\e622";
}

.icon-server-add:before {
    content: "\e623";
}

.icon-server-lock:before {
    content: "\e624";
}

.icon-expand:before {
    content: "\e625";
}

.icon-shrink:before {
    content: "\e626";
}

.icon-signal:before {
    content: "\e627";
}

.icon-doc-download:before {
    content: "\e628";
}

.icon-icon-27:before {
    content: "\e629";
}

.icon-lock:before {
    content: "\e62a";
}

.icon-unlock:before {
    content: "\e62b";
}

.icon-key:before {
    content: "\e62c";
}

.icon-credit-card-hand:before {
    content: "\e62d";
}

.icon-credit-card:before {
    content: "\e62e";
}

.icon-money-head:before {
    content: "\e62f";
}

.icon-icon-46:before {
    content: "\e630";
}

.icon-diamond:before {
    content: "\e631";
}

.icon-piggy:before {
    content: "\e632";
}

.icon-pie-chart:before {
    content: "\e633";
}

.icon-line-chart-up:before {
    content: "\e634";
}

.icon-line-chart-down:before {
    content: "\e635";
}

.icon-money-paper:before {
    content: "\e636";
}

.icon-mobile-money:before {
    content: "\e637";
}

.icon-mobile-chart:before {
    content: "\e638";
}

.icon-money-storage:before {
    content: "\e639";
}

.icon-cc-terminal:before {
    content: "\e63a";
}

.icon-checque:before {
    content: "\e63b";
}

.icon-money-atm:before {
    content: "\e63c";
}

.icon-cash-machine:before {
    content: "\e63d";
}

.icon-hammer:before {
    content: "\e63e";
}

.icon-bear:before {
    content: "\e640";
}

.icon-bull:before {
    content: "\e641";
}

.icon-person-money:before {
    content: "\e642";
}

.icon-gold:before {
    content: "\e643";
}

.icon-calculator:before {
    content: "\e644";
}

.icon-money-bag:before {
    content: "\e645";
}

.icon-wallet:before {
    content: "\e646";
}

.icon-money-globe:before {
    content: "\e647";
}

.icon-bank:before {
    content: "\e648";
}

.icon-money-doc:before {
    content: "\e649";
}

.icon-abacus:before {
    content: "\e64a";
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

    .container:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

    .container-fluid:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

.row {
    margin-left: -15px;
    margin-right: -15px;
    *zoom: 1;
}

    .row:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .slider .slide-caption, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1 {
    width: 8.33333%;
}

.col-xs-2 {
    width: 16.66667%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333%;
}

.col-xs-5 {
    width: 41.66667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333%;
}

.col-xs-8 {
    width: 66.66667%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333%;
}

.col-xs-11 {
    width: 91.66667%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-pull-1 {
    right: 8.33333%;
}

.col-xs-pull-2 {
    right: 16.66667%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-4 {
    right: 33.33333%;
}

.col-xs-pull-5 {
    right: 41.66667%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-7 {
    right: 58.33333%;
}

.col-xs-pull-8 {
    right: 66.66667%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-10 {
    right: 83.33333%;
}

.col-xs-pull-11 {
    right: 91.66667%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-push-1 {
    left: 8.33333%;
}

.col-xs-push-2 {
    left: 16.66667%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-4 {
    left: 33.33333%;
}

.col-xs-push-5 {
    left: 41.66667%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-7 {
    left: 58.33333%;
}

.col-xs-push-8 {
    left: 66.66667%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-10 {
    left: 83.33333%;
}

.col-xs-push-11 {
    left: 91.66667%;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

.col-xs-offset-1 {
    margin-left: 8.33333%;
}

.col-xs-offset-2 {
    margin-left: 16.66667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.33333%;
}

.col-xs-offset-5 {
    margin-left: 41.66667%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-7 {
    margin-left: 58.33333%;
}

.col-xs-offset-8 {
    margin-left: 66.66667%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-10 {
    margin-left: 83.33333%;
}

.col-xs-offset-11 {
    margin-left: 91.66667%;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-1 {
        width: 8.33333%;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333%;
    }

    .col-sm-5 {
        width: 41.66667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333%;
    }

    .col-sm-8 {
        width: 66.66667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-11 {
        width: 91.66667%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-pull-1 {
        right: 8.33333%;
    }

    .col-sm-pull-2 {
        right: 16.66667%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-4 {
        right: 33.33333%;
    }

    .col-sm-pull-5 {
        right: 41.66667%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-7 {
        right: 58.33333%;
    }

    .col-sm-pull-8 {
        right: 66.66667%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-10 {
        right: 83.33333%;
    }

    .col-sm-pull-11 {
        right: 91.66667%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-push-1 {
        left: 8.33333%;
    }

    .col-sm-push-2 {
        left: 16.66667%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-4 {
        left: 33.33333%;
    }

    .col-sm-push-5 {
        left: 41.66667%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-7 {
        left: 58.33333%;
    }

    .col-sm-push-8 {
        left: 66.66667%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-10 {
        left: 83.33333%;
    }

    .col-sm-push-11 {
        left: 91.66667%;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66667%;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .slider .slide-caption, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8, .slider .slide-caption {
        width: 66.66667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.66667%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-pull-1 {
        right: 8.33333%;
    }

    .col-md-pull-2 {
        right: 16.66667%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-4 {
        right: 33.33333%;
    }

    .col-md-pull-5 {
        right: 41.66667%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-7 {
        right: 58.33333%;
    }

    .col-md-pull-8 {
        right: 66.66667%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-10 {
        right: 83.33333%;
    }

    .col-md-pull-11 {
        right: 91.66667%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-push-1 {
        left: 8.33333%;
    }

    .col-md-push-2 {
        left: 16.66667%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-4 {
        left: 33.33333%;
    }

    .col-md-push-5 {
        left: 41.66667%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-7 {
        left: 58.33333%;
    }

    .col-md-push-8 {
        left: 66.66667%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-10 {
        left: 83.33333%;
    }

    .col-md-push-11 {
        left: 91.66667%;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333%;
    }

    .col-md-offset-2 {
        margin-left: 16.66667%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333%;
    }

    .col-md-offset-5 {
        margin-left: 41.66667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333%;
    }

    .col-md-offset-8 {
        margin-left: 66.66667%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333%;
    }

    .col-md-offset-11 {
        margin-left: 91.66667%;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-1 {
        width: 8.33333%;
    }

    .col-lg-2 {
        width: 16.66667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333%;
    }

    .col-lg-5 {
        width: 41.66667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333%;
    }

    .col-lg-8 {
        width: 66.66667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333%;
    }

    .col-lg-11 {
        width: 91.66667%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-pull-1 {
        right: 8.33333%;
    }

    .col-lg-pull-2 {
        right: 16.66667%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-4 {
        right: 33.33333%;
    }

    .col-lg-pull-5 {
        right: 41.66667%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-7 {
        right: 58.33333%;
    }

    .col-lg-pull-8 {
        right: 66.66667%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-10 {
        right: 83.33333%;
    }

    .col-lg-pull-11 {
        right: 91.66667%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-push-1 {
        left: 8.33333%;
    }

    .col-lg-push-2 {
        left: 16.66667%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-4 {
        left: 33.33333%;
    }

    .col-lg-push-5 {
        left: 41.66667%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-7 {
        left: 58.33333%;
    }

    .col-lg-push-8 {
        left: 66.66667%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-10 {
        left: 83.33333%;
    }

    .col-lg-push-11 {
        left: 91.66667%;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66667%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66667%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66667%;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }
}

@-ms-viewport {
    width: device-width;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }

    table.visible-md {
        display: table;
    }

    tr.visible-md {
        display: table-row !important;
    }

    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }

    table.visible-print {
        display: table;
    }

    tr.visible-print {
        display: table-row !important;
    }

    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

body {
    position: relative;
    /*font-family: "Roboto Slab", serif;*/
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    color: #7d808c;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
}

.site-header {
    position: relative;
    z-index: 99;
    line-height: normal;
}

.top-header {
    background: #292c35;
    color: #aaacb5;
    padding: 20px 0;
}

    .top-header a {
        color: #aaacb5;
        text-decoration: none;
    }

.member-navigation .fa {
    margin-right: 5px;
}

.member-navigation a {
    display: inline-block;
    margin-left: 20px;
}

.bottom-header {
    /*background: white;*/
    background: #727272;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    *zoom: 1;
}

    .bottom-header:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

    .bottom-header .branding {
        padding: 15px 0;
    }

    .bottom-header .branding {
        color: #152559;
        text-decoration: none;
    }

.branding .site-title {
    /*color: #152559;*/
    color: #4D6480;
}

    .branding .site-title span {
        /*color: #01a6d4;*/
        color: #6BA539;
    }

.branding .site-description {
    color: #7d808c;
}

.branding {
    *zoom: 1;
}

    .branding:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

    .branding img.logo-icon {
        float: left;
        margin-right: 415px;
    }

    .branding .site-title, .branding .site-description {
        display: table;
    }

    .branding .site-title {
        font-size: 1em;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

        .branding .site-title a {
            color: #152559;
            text-decoration: none;
        }

            .branding .site-title a span {
                color: #01a6d4;
            }

    .branding .site-description {
        font-size: 12px;
        font-size: 0.75em;
        margin: 0;
    }

.main-navigation .menu-toggle {
    display: none;
    background: none;
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
}

@media screen and (max-width: 768px) {
    .main-navigation .menu-toggle {
        display: block;
    }
}

.main-navigation .menu {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    margin: 0;
    *zoom: 1;
}

    .main-navigation .menu:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0;
    }

@media screen and (max-width: 768px) {
    .main-navigation .menu {
        display: none;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px;
    }
}

@media screen and (min-width: 769px) {
    .main-navigation .menu {
        display: block !important;
    }
}

.main-navigation .menu .menu-item {
    float: left;
    padding: 0 20px;
}

    .main-navigation .menu .menu-item:last-child {
        padding-right: 0;
    }

@media screen and (max-width: 768px) {
    .main-navigation .menu .menu-item {
        display: block;
        float: none;
    }

        .main-navigation .menu .menu-item a:after {
            display: none;
        }
}

.main-navigation .menu .menu-item a {
    padding: 30px 0;
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    position: relative;
    border-bottom: 1px solid transparent;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

    .main-navigation .menu .menu-item a:after {
        content: "|";
        position: absolute;
        right: -20px;
        font-weight: 100;
        color: #e4e4e4;
    }

@media screen and (max-width: 768px) {
    .main-navigation .menu .menu-item a {
        padding: 10px 20px;
    }
}

.main-navigation .menu .menu-item:first-child {
    border-left: none;
}

.main-navigation .menu .menu-item:last-child a {
    padding-right: 0;
}

    .main-navigation .menu .menu-item:last-child a:after {
        display: none;
    }

.main-navigation .menu .menu-item:hover a, .main-navigation .menu .menu-item.current-menu-item a {
    color: #01a6d4;
    border-bottom: 2px solid #01a6d4;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.alig-center {
    text-align: center;
}

hr {
    border: none;
    border-bottom: 1px solid #adafb8;
}

.list-fa {
    padding: 0;
    list-style: none;
}

    .list-fa li {
        padding: 6px 0;
    }

        .list-fa li .fa {
            margin-right: 10px;
            color: #01a6d4;
        }

.list-check {
    padding: 0;
    margin: 30px 0;
    list-style: none;
}

    .list-check li {
        position: relative;
        padding-left: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 10px;
    }

        .list-check li .fa {
            position: absolute;
            top: 7px;
            left: 0;
            color: #01a6d4;
        }

        .list-check li h3 {
            color: #01a6d4;
            font-weight: 400;
            font-size: 1em;
            margin-bottom: 5px;
        }

        .list-check li p {
            margin: 0;
        }

.leading {
    font-size: 24px;
    font-size: 1.5em;
    color: #01a6d4;
    font-weight: 300;
}

    .leading.muted {
        color: #adafb8;
    }

.about-section h2 {
    color: #152559;
    font-size: 36px;
    font-size: 2.25em;
}

.inner-content {
    padding-top: 50px;
}

img.pull-left {
    margin-right: 30px;
}

img.pull-right {
    margin-left: 30px;
}

img.pull-left, img.pull-right {
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    img.pull-left, img.pull-right {
        float: none !important;
        margin: 0 auto 20px;
        display: block;
        text-align: center;
    }
}

hr {
    border: none;
    border-bottom: 1px solid #e4e4e4;
}

    hr.spacer {
        border: none;
        padding: 20px;
    }

.site-footer {
    background-color: #292c35;
    padding: 60px 0;
    color: #aaacb5;
}

    .site-footer .copy {
        font-size: 12px;
        font-size: 0.75em;
    }

    .site-footer a {
        color: #aaacb5;
    }

    .site-footer .branding .site-title a, .site-footer .branding .site-title span {
        color: #aaacb5;
    }

    .site-footer .branding .site-title, .site-footer .branding .site-description {
        line-height: normal;
    }

    .site-footer .branding .site-description {
        color: #767982;
    }

@media screen and (max-width: 480px) {
    .site-footer .branding {
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .site-footer {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .footer-navigation {
        text-align: left;
    }
}

.footer-navigation a {
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    line-height: 15px;
    border-left: 1px solid #767982;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    .footer-navigation a:hover {
        color: #01a6d4;
    }

    .footer-navigation a:first-child {
        border-left: none;
    }

    .footer-navigation a:last-child {
        padding-right: 0;
    }

.social-links {
    margin: 30px 0 0;
}

@media screen and (max-width: 480px) {
    .social-links {
        text-align: left;
    }
}

.social-links a {
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #454851;
    color: #aaacb5;
    display: inline-block;
    border-radius: 50%;
    line-height: 35px;
    margin-left: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    .social-links a:hover {
        background-color: #5c606d;
    }

.post {
    padding: 50px 0;
    border-bottom: 1px solid #ededed;
}

    .post:first-child {
        padding-top: 0;
    }

    .post .entry-title {
        font-size: 30px;
        font-size: 1.875em;
        margin: 0 0 30px;
    }

        .post .entry-title a {
            color: #152559;
            text-decoration: none;
        }

    .post .featured-image {
        border-radius: 10px;
        overflow: hidden;
    }

        .post .featured-image img {
            display: block;
            width: 100%;
            max-width: 100%;
        }

    .post .entry-summary {
        margin: 20px 0;
    }

        .post .entry-summary p {
            margin: 0;
        }

.pagination {
    padding: 30px 0;
    text-align: center;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    color: #152559;
    margin: 0 0 10px;
    line-height: normal;
}

.widget {
    margin-bottom: 50px;
}

    .widget .widget-title {
        font-size: 20px;
        font-size: 1.25em;
        color: #152559;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .widget .posts {
        list-style: none;
        padding-left: 0;
    }

        .widget .posts li {
            margin: 0 0 20px;
            padding: 0 0 20px;
            border-bottom: 1px solid #e4e4e4;
        }

        .widget .posts .entry-title {
            margin: 0;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            font-size: 1em;
        }

            .widget .posts .entry-title a {
                color: #01a6d4;
            }

        .widget .posts .date {
            font-size: 13px;
            font-size: 0.8125em;
        }

    .widget blockquote {
        font-size: 16px;
        font-size: 1em;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0 0 0 30px;
    }

        .widget blockquote:before {
            content: " ";
            width: 21px;
            height: 22px;
            background: url(images/quote.png) no-repeat;
            position: absolute;
            top: 10px;
            left: 0;
            z-index: -1;
        }

        .widget blockquote cite {
            font-weight: 500;
            font-style: normal;
        }

select {
    padding: 10px 20px;
    /*border-radius: 20px;*/
    border: 2px solid #dedfe2;
    /*font-family: inherit;*/
    /*font-family: Verdana;*/
    /*font-size: 14px;*/
    font-size: 1em;
    font-weight: 300;
    width: 70%;
    outline: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    line-height: normal;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

/*@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium-webfont.eot');
    src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Medium-webfont.woff') format('woff'), url('Roboto-Medium-webfont.ttf') format('truetype'), url('Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic-webfont.eot');
    src: url('Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-MediumItalic-webfont.woff') format('woff'), url('Roboto-MediumItalic-webfont.ttf') format('truetype'), url('Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-LightItalic-webfont.woff') format('woff'), url('Roboto-LightItalic-webfont.ttf') format('truetype'), url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin-webfont.eot');
    src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Thin-webfont.woff') format('woff'), url('Roboto-Thin-webfont.ttf') format('truetype'), url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}


@media (max-width: 767px) {
    .logo_height {
        height: 50px;
    }

    .header_pad {
        padding-top: 5px;
    }
}

@media (min-width: 768px) {
    .logo_height {
        height: 80px;
    }

    .header_pad {
        padding-top: 5px;
    }
}

::-webkit-input-placeholder {
    color: lightgray;
    font-size: 1em;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgray;
    font-size: 1em;
}

::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
    font-size: 1em;
}

:-ms-input-placeholder {
    color: lightgray;
    font-size: 1em;
}

.disclaimer {
    margin-top: 0px;
    text-align: justify;
    font-size: 12px;
    line-height: 15px;
}

/*@media (min-width: 768px) {
    .header_width {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .header_width {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .header_width {
        width: 45%;
    }
}*/

.header_width {
    width: 90%;
}



/*.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0}.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}.modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;outline:0;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}.modal.fade{top:-25%;-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}.modal.fade.in{top:10%}.modal-header{padding:9px 15px;border-bottom:1px solid #eee}.modal-header .close{margin-top:2px}.modal-header h3{margin:0;line-height:30px}.modal-body{position:relative;max-height:500px;padding:15px;overflow-y:auto}.modal-form{margin-bottom:0}.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff}.modal-footer:before,.modal-footer:after{display:table;line-height:0;content:""}.modal-footer:after{clear:both}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}

.fade{opacity:0;-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}
.modal-backdrop.fade{opacity:0}.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}.modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;outline:0;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}.modal.fade{top:-25%;-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}.modal.fade.in{top:10%}


.modal.fade.in {
    top: 10%;
}

.modal.fade {
    top: -25%;
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
}

.fade.in {
    opacity: 1;
}

.modal {
    border-radius: 0;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-body {
    position: relative;
    max-height: 500px;
    padding: 15px;
    overflow-y: auto;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.modal-footer {
    border-top-color: #e4e9ee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #eff3f8;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}*/

