﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="frmAttachmentUpload.aspx.cs"
    Inherits="frmAttachmentUpload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
    </asp:ScriptManager>
    <div>
        <table>
            <tr>
                <td>
                    <asp:FileUpload ID="FileUpload1" runat="server" Width="340px" Height="25px" />
                </td>
                <td>
                    <asp:Button ID="btnUploadFile" runat="server" Text="Upload" Style="height: 25px;"
                        OnClick="btnUploadFile_Click" />
                </td>
            </tr>
        </table>
    </div>
    
    </form>
</body>
</html>
