﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage_Air.master.cs" Inherits="MasterPage_Air" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <%--     <asp:ContentPlaceHolder id="head" runat="server">
        </asp:ContentPlaceHolder>--%>


    <%--<asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>--%>
    <%--<link href="Menu/menu.css" rel="stylesheet" type="text/css" />
    <link href="ClientScripts/bootstrap.css" rel="stylesheet" type="text/css" />--%>
    <%--js for multiselect start--%>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,    margin-left: 33px;
00,900'
        rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="Scripts/bootbox.min.js"></script>
    <%--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>--%>
    <script src="css/bootstrap.min.js"></script>
    <%--js for multiselect end--%>


    <script>


        $(document).ready(function () {
            //  alert(sessionStorage["is_single"]);
            if (sessionStorage["is_single"] == "Y") {
                $("#ChangePwd").remove();
            }

            $("#logout1").click(function (event) {
                //alert("logut click");

                sessionStorage["username"] = null;

                location.href = "Login_Air.aspx";
            });
        });
        //        $(Document).on("click", "#logout", function () {
        ////            alert("logout");

        //            sessionStorage["username"] = null;

        //            location.href = "Login_Air.aspx";
        //        });

    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
                <Services>
                    <asp:ServiceReference Path="~/DeGrToolWebService.asmx" />
                </Services>
            </asp:ScriptManager>
            <div id="site-content">

                <header class="site-header">


                    <div class="bottom-header">
                        <%--<div class="container">
                            <a class="branding pull-left">
                                <img src="Images_air/zs_pharma_logo.png" alt="Site title" class="logo-icon" style="margin-top: 10px;">


                                <div class="header_width" align="center">
                                    <img src="Images_air/AIR.png" alt="Site title" class="logo-icon" style="margin-top: 0px; width: 100px;" />
                                </div>

                               
                            </a>
                          
                        </div>--%>
                               <div class="container">
                             <a class="branding pull-left">
                           
                            <div class="col-xs-11">
  <div class="col-xs-6">
<img src="Images_air/zs_pharma_logo.png" alt="Site title" class="logo-icon" style="margin-top: 10px;">
    </div>

<div class="col-xs-4"><div class="header_width" align="center">
                                
                                <img src="Images_air/AIR.png" alt="Site title" class="logo-icon" style="margin-top: 3px; width: 100px;">
                            </div></div></div>


                        </a>
                            <!-- #branding -->

                            <!-- .main-navigation -->
                        </div>
                    </div>
                    <!-- .bottom-header -->
                    <div>
                        <ul>
                            <li><a href="#home" id="logout1">Log Out</a></li>
                            <li id="ChangePwd"><a href="ChangePassword.aspx">Change Password</a></li>
                            <li><a href="Air_Report.aspx">Report</a></li>
                            <li><a href="Issue_detail.aspx">Home</a></li>
                        </ul>

                    </div>
                </header>
                <!-- .site-header -->

                <main class="content">
				
				<div class="page-content myfont_regular">
					
                   <body>
 <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
                   </body>
					
				</div> <!-- .inner-content -->
			</main>
                <!-- .content -->



            </div>

        </div>
    </form>
</body>
</html>
<style type="text/css">
    .active {
        background-color: #4CAF50;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #505050;
    }

    li {
        float: right;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover {
                background-color: #4CAF50;
            }

    body {
        background: #fff url(Images_air/bg-bg.png) -15px 37% no-repeat;
        /*background: #fff url(/CIPortal/Images/bg-bg.png) -15px 37% no-repeat;*/
    }

    .bod {
        border: 1px double black;
        width: 40%;
        padding-left: 5%;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }

        .modal-backdrop.fade {
            opacity: 0;
        }

            .modal-backdrop, .modal-backdrop.fade.in {
                opacity: .8;
                filter: alpha(opacity=80);
            }



    .modal.fade {
        /*top: -10%;*/
        -webkit-transition: opacity .3s linear,top .3s ease-out;
        -moz-transition: opacity .3s linear,top .3s ease-out;
        -o-transition: opacity .3s linear,top .3s ease-out;
        transition: opacity .3s linear,top .3s ease-out;
    }

    /*.modal.fade.in {
                top: 2%;
            }*/

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
    }

        .modal-header .close {
            margin-top: 2px;
            padding-right: 13px !important;
            color: white !important;
        }

        .modal-header h3 {
            margin: 0;
            line-height: 30px;
        }

    .modal-body {
        position: relative;
        max-height: 600px;
        padding: 15px;
        overflow-y: auto;
    }

    .modal-form {
        margin-bottom: 0;
    }

    .modal-footer {
        padding: 14px 15px 15px;
        margin-bottom: 0;
        text-align: right;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        /*-webkit-border-radius: 0 0 6px 6px;*/
        /*-moz-border-radius: 0 0 6px 6px;*/
        /*border-radius: 0 0 6px 6px;*/
        *zoom: 1;
        -webkit-box-shadow: inset 0 1px 0 #fff;
        -moz-box-shadow: inset 0 1px 0 #fff;
        box-shadow: inset 0 1px 0 #fff;
    }

        .modal-footer:before, .modal-footer:after {
            display: table;
            line-height: 0;
            content: "";
        }

        .modal-footer:after {
            clear: both;
        }

        .modal-footer .btn + .btn {
            margin-bottom: 0;
            margin-left: 5px;
        }

        .modal-footer .btn-group .btn + .btn {
            margin-left: -1px;
        }

    .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -moz-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }

        .fade.in {
            opacity: 1;
        }

    .modal-backdrop.fade {
        opacity: 0;
    }

        .modal-backdrop, .modal-backdrop.fade.in {
            opacity: .8;
            filter: alpha(opacity=80);
        }



    .modal.fade {
        /*top: -25%;*/
        -webkit-transition: opacity .3s linear,top .3s ease-out;
        -moz-transition: opacity .3s linear,top .3s ease-out;
        -o-transition: opacity .3s linear,top .3s ease-out;
        transition: opacity .3s linear,top .3s ease-out;
    }












    /*.modal {
        position: fixed;
        top: 10%;
        left: 50%;
        z-index: 1050;
        width: 560px;
        margin-left: -280px;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,0.3);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }*/

    .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -moz-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }


    button.close {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }

    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        filter: alpha(opacity=20);
    }

    .modal-footer {
        border-top-color: #e4e9ee;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #eff3f8;
    }

    .modal-footer {
        padding: 14px 15px 15px;
        margin-bottom: 0;
        text-align: right;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        /*-webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;*/
        -webkit-box-shadow: inset 0 1px 0 #fff;
        -moz-box-shadow: inset 0 1px 0 #fff;
        box-shadow: inset 0 1px 0 #fff;
    }

    /*.btn-primary {
    background-color: #5B9BD5!important;
    border-color: #5B9BD5;
}

.btn, .btn-default {
    background-color: #abbac3!important;
    border-color: #abbac3;
}

.btn {
    display: inline-block;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25)!important;
    background-image: none!important;
    border: 5px solid;
    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    padding: 0 12px 1px;
    line-height: 32px;
    font-size: 14px;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom,#08c,#04c);
    border-left-color: #04c;
    border-right-color: #04c;
    border-top-color: #04c;
    border-bottom-color: #002a80;
}

.btn {
    display: inline-block;
    border-right: 0 none #e6e6e6;
    border-top: 0 none #e6e6e6;
    border-bottom: 0 none #b3b3b3;
    display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    -moz-border-radius: 4px;
    border-radius: 4px;
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}*/


    .modal {
        text-align: center;
        padding: 0!important;
        position: fixed;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog2 {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        background-color: white;
        width: 1000px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        background-color: white;
        width: 700px;
    }
</style>
