﻿*
{
    font-family: Verdana;
    font-size: 13px;
}

h2
{
    font-size: 21.5px;
}


body
{ /*font-size: 13px !important;*/
    padding-top: 0px;
    /*padding-bottom: 40px;*/
}

#header
{ background-color:white;
    margin-top: 0px;
}
/* Custom container */
.container-narrow
{
    margin: 0 auto;
    /*max-width: 1024px;*/
}

.container-center
{
    margin: 0 auto;
    /*max-width: 1024px;*/
}

.border-radius
{
    border-radius: 5px !important;
}

hr
{
    margin: 5px 0;
}

/*.right {
            float: right !important;
        }*/

.navbar
{
    margin-bottom: 0px;
}

.brand
{
    margin: 0px !important;
    padding: 0px !important;
}

.nav
{
    width: 100% !important;
}


.backgroundcolor
{
    background-color: #f0f0f0;
}

.hr1
{
    background-color: #83a723;
    height: 4px;
    margin: 0;
}

.hr2
{
    background-color: #66821b;
    margin-bottom: 0px;
    height: 4px;
    margin: 0;
}

.accordion-group
{
    background-image: url('../img/lefticon.jpg');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 0.8%;
}

.ImgEdit
{
    width: 20px;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
}

.btn-large
{
    padding: 9px 17px;
    font-size: 14.5px;
    font-weight: bold;
}

label, input, button, select, textarea
{
    font-size: 14px;
}

.nav-collapse a
{
    font-size: 14.5px;
}

label
{
    margin-bottom: 3px;
}

fieldset
{
    border-radius: 1em 1em 1em 1em;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    border-color: #808080;
}


legend
{
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    padding: 5px 10px;
    width: 230px;
    background-color: #D3D3D3;
    border-color: #808080;
}


legend:hover
{
    background-color: #696969;
    color: #FFFFFF;
}

.margin-bottom
{
    margin-bottom: 6px;
}

.margin-top
{
    margin-top: 8px;
}


.input-mini-max
{
    max-width: 60px;
}

.input-small-max
{
    max-width: 90px;
}

.input-medium-max
{
    max-width: 150px;
}

.input-large-max
{
    max-width: 210px;
}

.input-xlarge-max
{
    max-width: 270px;
}

.input-xxlarge-max
{
    max-width: 530px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    margin-bottom: 2px;
}

textarea{
    resize:none;
}
.small-table th, .small-table td
{
    padding: 4px !important;
}


/*---Common CSS---*/
.star
{
    color: red;
}

.error
{
    border: 1px solid red !important;
}

label.error
{
    display: none !important;
}
/*---END---*/
.disable-button
{
    color: #000;
    background: #b0e1f4;
    border-bottom: 2px solid #343c3f;
    border-left: 2px solid #8aa1a9;
    border-right: 2px solid #8aa1a9;
    border-top: 2px solid #fff;
    cursor: default !important;
    border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 9px 17px;
}

.checkin
{
    margin: 0px !important;
}

.checkin span
{
    font-size: 12px !important;
    font-weight: bold;
}

.checkinhdr
{
    border: 1px solid black;
}

.checkinhdr span
{
    font-size: 16px !important;
    font-weight: bold;
}

.checkin li
{
    list-style: none !important;
    height: 30px;
    border: 1px solid black;
    padding-top: 5px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a
{
    /*background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);*/
    /*background-color: #66821B;
    background-image: linear-gradient(to bottom, #66821B, #83A723);
    background-repeat: repeat-x;*/
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-success
{
    /*background-image: linear-gradient(to bottom, #66821B, #83A723);*/
    /*background-color: #66821B;*/
    /*border-color: #66821B #66821B #83A723;*/
    border: 0px;
    border-radius: 10px;
}


.btn-success:hover, .btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled]
{
    /*background-color: #83A723;*/
}

.keygrid input[type="button"]
{
    padding: 10px 17px;
}

.modal960by525
{
    width: 960px;
    margin-left: -477px;
}

.modal960by525.fade.in
{
    top: 4%;
}

.modal960by525 .modal-body
{
    max-height: 457px;
}

/** Message Box on Top Screen**/
#saved
{
    display: none;
    width: 100%;
    position: fixed;
    z-index: 10000;
    color: white;
    font-weight: bolder;
    text-align: center;
    /*background-color: #00CD00;*/
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    font-size: 18px;
    padding: 5px 0px 5px 0px;
}

/*****Style for Table in PO, Receipt and Issue*****/
#POReceiptTable, #POIssueTable, #PODetailTable, #PackageTable
{
    border-collapse: collapse;
}

.header
{
    background-color: #D3D3D3;
    height: 25px;
}

.sorting_disabled
{
    background-color: #D3D3D3;
}

span.spanName
{
    display: inline-block;
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    padding: 3px 5px;
    color: #000000!important;
    cursor: pointer;
    height: 20px !important;
}

.spanClose
{
    float: left;
    font-size: 10px;
    padding: 0 0 0 5px;
    color: #337BC5;
}


.pogrids tr > td:first-child
{
    border-left: 1px solid #AAAAAA;
}

.pogrids tr > th:first-child
{
    border-left: 1px solid #AAAAAA;
}

i
{
    cursor: pointer;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]
{
    background: none repeat scroll 0 0 #EEEEEE;
    cursor: not-allowed;
}

.numeric
{
    padding-right: 0px !important;
}

/*----- For Photo Upload -----*/
.file-upload
{
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    /* Cosmetics */
    border: 1px solid #cfcfcf;
    background: #51a351;
    /* Nice if your browser can do it */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.file-upload:hover
{
    background: #51a351;
}

.file-upload.focus
{
    outline: 1px solid yellow;
}

.file-upload input
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 10pt;
    /* Loses tab index in webkit if width is set to 0 */
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload strong
{
    padding-top: 5px;
    font-size: 9pt;
    font-weight: normal;
}

.file-upload span
{
    position: absolute;
    top: 0;
    left: 0;       
    display: inline-block;
    /* Adjust button text vertical alignment */
    padding-top: 5px;
}

/* Adjust the button size */
.file-upload
{
    height: 30px;
}

.file-upload,
.file-upload span
{
    width: 140px;
}

/**For Advance Search PopUp**/
 .selectedli
{
    color: #4800ff !important;
}

#exampleAS td
{
    cursor: pointer;
}

#exampleAS td:hover
{
    background-color: #dddddd;
    font-weight: bold;
}

/**For Side bar in POS and Dispensory*/

.sidecontentpullout, .sidecontent
{
    margin-top: 140px;
}

.sidecontentpullout
{
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: #51A351 #51A351 #387038;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.sidecontent
{
    background-color: white;
}

/* POS A-Z Buttons */
.pos_atoz
{
    width: 85px !important; 
    height:75px;
}

.btn {
    margin-top:5px;
}

.verticalCenter td {
    vertical-align:middle;
}

.control-label,.checkbox,.timingtables tr td:first-child{
   font-weight:bold;
}

.timingtables tr:first-child td{
   font-weight:bold;
}

.table .table {
    background-color: #f0f0f0;
}

#footer {
background-color: #D1D0CE;
}

#push, #footer {
height: 60px;
}

#wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -60px;
}

html, body {
height: 100%;
}

 .dataTables_processing {
           
            width: 250px;
            /*height: 30px;*/
            /*margin-left: -125px;
            margin-top: -15px;*/
            padding: 14px 0 2px 0;
            border: 1px solid #ddd;
            text-align: center;
            color: #999;
            font-size: 14px;
            background-color: white;
        }