﻿html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
option {
    font-size: 13px !important;
    font-style: normal !important;
    opacity: 1;
    color:black !important;
}
  option:first-child {
                font-size: 13px !important;
                font-style: italic !important;
                color:#c3c3c3 !important;
            }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #444;
    margin: 0;
    padding: 0;
    background-color: #f0f3f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c3c3c3;
    font-size: 13px;
    font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #c3c3c3;
    font-size: 13px;
    font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #c3c3c3;
    font-size: 13px;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    color: #c3c3c3;
    font-size: 13px;
    font-style: italic;
}

.logo {
    max-height: 50px;
}

.navbar-inverse {
    background-color: #2a3542;
    border-radius: 0;
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
}

.navbar-brand {
    padding: 10px 15px 5px;
}

.navbar-nav {
    float: none;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 10px 0px 5px;
}

    .navbar-inverse .navbar-nav > li > a.logoff {
        padding: 13px;
        font-size: 24px;
        border-radius: 50%;
        background: rgba(0,0,0,0.5);
        margin-top: 10px;
    }

.panel-default {
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

    .panel-default > .panel-heading {
        background-color: #fff;
        border-color: #d7dde4;
        color: #444;
        font-size: 18px;
        font-weight: 300;
    }

.panel-body .nav-tabs + .panel-body {
    padding: 15px 0 0 0;
}

.panel-heading .count {
    margin-right: 20px;
    color: #1e88e5;
    font-weight: 400;
}

    .panel-heading .count:last-child {
        margin-right: 0;
    }

.panel-body.max-height {
    max-height: 430px;
    overflow: auto;
}

.multiselect-native-select {
    width: 100%;
    display: inline-block;
}

    .multiselect-native-select .btn-group {
        width: 100%;
    }

        .multiselect-native-select .btn-group > button.multiselect {
            width: 100%;
            text-align: left;
            border-radius: 0;
            padding-right: 7px;
            border-color: #c3c3c3 !important;
            color: #444;
        }

            .multiselect-native-select .btn-group > button.multiselect:hover, .multiselect-native-select .btn-group > button.multiselect:active, .multiselect-native-select .btn-group > button.multiselect:focus {
                background-color: transparent;
                box-shadow: none;
            }

            .multiselect-native-select .btn-group > button.multiselect > b.caret {
                float: right;
                margin-top: 8px;
            }

            _:-moz-tree-row(hover), .multiselect-native-select .btn-group > button.multiselect > b.caret {
                margin-top: -10px;
            }

        .multiselect-native-select .btn-group.open .dropdown-toggle {
            box-shadow: none;
        }

    .multiselect-native-select .btn-default:active,
    .multiselect-native-select .btn-default.active,
    .multiselect-native-select .open > .dropdown-toggle.btn-default {
        color: #444;
        background-color: transparent;
    }

    .multiselect-native-select .btn-group .multiselect-container {
        border-radius: 0;
        border-color: #c3c3c3;
        width: 100%;
    }

.multiselect-container > li > a > label > input[type=checkbox] {
    margin-left: -20px;
}

.multiselect-container > li > a > label {
    padding-left: 30px;
}

.form-control {
    border-radius: 0;
    border-color: #c3c3c3;
    box-shadow: none;
}

    .form-control:hover, .form-control:focus {
        outline: none;
        border-color: #c3c3c3;
        box-shadow: none;
    }

.btn-spacing.btn-success {
    margin-right: 5px;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #00bfa5;
    border: 0;
}

    .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus {
        background-color: #09aa94;
    }

.btn-primary {
    background-color: #1e88e5;
    border: none;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
        background-color: #287eca;
    }

.table > thead > tr > th {
    font-weight: 500;
    border-bottom: 1px solid #d7dde4;
    background-color:lightcyan;
}

.table > tbody > tr > td > .btn-link {
    font-size: 16px;
    margin-top: -5px;
    color: #1e88e5;
    padding-top: 0;
     padding: 4px 10px;
     padding-bottom: 0;
     vertical-align:middle;
      
}
table.dataTable {
margin :0px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: 0;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > tfoot > tr > th {
    border: 0;
     padding: 4px 10px;
    padding-bottom:0px;
       vertical-align:middle;
}

label.control-label {
    font-weight: 300;
}
 
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: transparent;
}

table.dataTable tbody tr, table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #fff;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f0f3f6;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px;
}

label {
    font-weight: 500;
}

table.dataTable.no-footer,.dataTables_wrapper.no-footer div.dataTables_scrollHead table, .dataTables_wrapper.no-footer div.dataTables_scrollBody table{
    border-bottom: 1px solid #d7dde4;
    background-color:white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #1e88e5;
    color: #fff !important;
    border: none;
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #7bbdf6;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0;
    border: 0;
}

.m-t-20 {
    margin-top: 20px;
}

.modal-content {
    border-radius: 0;
}

.modal-title {
    font-weight: 400;
}

.panel-heading .value {
    font-weight: 400;
}

.link {
    color: #1e88e5;
}

.section {
    margin-bottom: 20px;
}

    .section:last-child {
        margin-bottom: 0;
    }

    .section .section-heading {
        line-height: 30px;
        border-bottom: 1px solid #d7dde4;
        font-size: 16px;
    }

    .section .section-content {
        line-height: 10px;
    }

        .section .section-content:after {
            clear: both;
        }

        .section .section-content div.label {
            color: #444;
            font-size: 14px;
            font-weight: 300;
            display: inline-block;
            padding: 5px 10px;
            width: 320px;
            text-align: left;
        }

        .section .section-content div.value {
            font-weight: 400;
            color: #444;
            font-size: 14px;
            padding: 5px 10px;
            display: inline-block;
            width: calc(100% - 400px);
            text-align: left;
        }

.login {
    background: url(../Images/Login-bg.jpg ); 
    background-size: cover;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
}

.login-modal {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    top: calc(50% - 200px);
}

    .login-modal .login-header {
        background: #384655;
        text-align: center;
        padding: 15px 0;
    }

    .login-modal .login-content {
        padding: 15px;
    }

        .login-modal .login-content h1 {
            margin: 0 -15px 0 -15px;
            padding: 0 15px;
            border-left: 5px solid #333;
            color: #333;
            margin-bottom: 15px;
        }

        .login-modal .login-content .btn-block {
            padding-top: 12px;
            padding-bottom: 12px;
            margin: 25px 0 5px;
        }

    .login-modal .login-footer {
        border-top: 1px solid #c3c3c3;
        text-align: center;
        padding: 15px;
    }

        .login-modal .login-footer p:last-child {
            margin-bottom: 0;
        }
.input-group-addon {
    border-radius: 0;
    border-right: 0;
    background: #fff;
}
.input-group .form-control {
    border-left: 0;
    padding-left: 0;
}


/*@media (min-width:1920px) {
    .table > tbody > tr > td ,.table > thead > tr > th,.label , .value,.nav-tabs > li > a ,#RecentChangeData > div{
        font-size: 20px !important;
        font-weight:inherit;
    }

}*/